@model LabSem3.Models.Equipment

@{
    ViewBag.Title = "Create";
}

<h2 style="font-weight: bold;">Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Equipment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="LabId">Lab</label>
        <div class="col-md-4">
            <select id="LabId" name="LabId" class="form-control col-1">
                @foreach (var lab in ViewBag.Lab)
                {
                    <option value="@lab.Id">@lab.Id</option>
                }

            </select>
            @Html.ValidationMessageFor(model => model.LabId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="TypeEquipmentId">TypeEquipment</label>
        <div class="col-md-4">
            <select id="TypeEquipmentId" name="TypeEquipmentId" class="form-control col-5">
                @foreach (var typeEquiment in ViewBag.TypeEquipment)
                {
                    <option value="@typeEquiment.Id">@typeEquiment.Name</option>
                }

            </select>
            @Html.ValidationMessageFor(model => model.TypeEquipmentId, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <input style="color:aliceblue;" type="submit" value="Create" class="btn btn-default bg-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
