@model LabSem3.Models.Equipment

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-weight: bold;">Delete Equipment</h2>

<h3 style="color: red;">Are you sure you want to delete this?</h3>
<div>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Equipment Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Name
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Thumbnail
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        <img height="300px" src="@Model.Thumbnail"/>
                                        
                                    </td>
                                </tr>
                                @*<tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Status
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Status
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            CreatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.CreatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            UpdatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.UpdatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            DeletedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.DeletedAt)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            LabId
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.LabId
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            DocumentId
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.DocumentId
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            TypeEquipmentName
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.DisplayFor(model => model.TypeEquipment.Name)
                                    </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="color:aliceblue;" type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-default bg-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
