@model PagedList.IPagedList<LabSem3.Models.Complaint>
@using LabSem3.Enum
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLabversion002.cshtml";

}

<h2 style="font-weight: bold;">List All Complaints</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (TempData["False"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["False"]
    </div>
}

@if (!@User.IsInRole("ADMIN"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<form action="/Complaint/Index" method="get" class="d-none d-sm-inline-block form-inline navbar-search mb-4">
    <div class="input-group">
        <select class="form-control mr-4" name="statusCheck">
            <option @(ViewBag.statusCheck == -1 ? "selected" : " ") value="-1">Status...</option>
            @foreach (var item in EnumHelper.GetSelectList(typeof(LabSem3.Enum.ComplaintStatusEnum)))
            {
                <option @(ViewBag.statusCheck == Int32.Parse(item.Value) ? "selected" : " ") value="@item.Value">@item.Text</option>
            }
        </select>
        @if (User.IsInRole("ADMIN") || User.IsInRole("HOD"))
        {
            <select class="form-control mr-4" name="SupportId">
                <option @(ViewBag.SupportId == null ? "selected" : " ") value="">Support...</option>
                @foreach (var item in ViewBag.Support)
                {
                    <option @(ViewBag.SupportId == item.Id ? "selected" : " ") value="@item.Id">@item.UserName</option>
                }
            </select>
        }


        <input value="@ViewBag.keyWord" name="keyWord" type="text" class="form-control bg-default small" placeholder="Search for..."
               aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<br>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Detail
        </th>
        <th>
            Status
        </th>
        <th>
            Support Assign
        </th>
        <th>
            Equipment/Software ID
        </th>
        <th>
            Type Of Complain
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Detail
            </td>
            <td>
                @foreach (var item2 in EnumHelper.GetSelectList(typeof(LabSem3.Enum.ComplaintStatusEnum)))
                {
                    if (item.Status == Int32.Parse(item2.Value))
                    {
                        @item2.Text
                        break;
                    }
                }
            </td>
            <td>
                @(item.Supporter !=null ? item.Supporter.UserName : "")
            </td>
            <td>
                @item.EquipmentId
            </td>
            <td>
                @item.TypeComplaint.Name
            </td>
            <td>
                @if (User.IsInRole("STUDENT") || User.IsInRole("HOD"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })<span> | </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

<nav aria-label="Page navigation example">
    <ul class="pagination">

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, SupportId = ViewBag.SupportId, statusCheck = ViewBag.statusCheck, keyWord = ViewBag.keyWord }))

    </ul>
</nav>
