@model PagedList.IPagedList<LabSem3.Models.Lab>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLabversion002.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div>
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <form action="/Labs/Index">
                    <div class="row " style="margin-bottom:10px">


                        <div style="margin:0 10px">
                            <div style="text-align: left">Department</div>
                            <div class="input-group">
                                <select class="form-control" id="departmentId" name="departmentId">
                                    <option selected value="">-- Choose Department -- </option>
                                    @foreach (var item in ViewBag.Department)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div style="margin-right: 20px">
                            <div style="text-align: left">Status</div>
                            <div class="input-group">
                                <select class="form-control" id="Status" name="Status">
                                    <option selected value="">-- Choose Status -- </option>
                                    @foreach (var item in EnumHelper.GetSelectList(typeof(LabSem3.Enum.LabStatusEnum)))
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div style="margin-right: 20px">
                            <div style="text-align: left">StartTime</div>
                            <div class="input-group">
                                <input value="@ViewBag.StartTime" name="startTime" type="date" class="form-control bg-default border-2 small" aria-label="Search" aria-describedby="basic-addon2">

                            </div>
                        </div>
                        <div style="margin-right: 20px">
                            <div style="text-align: left">EndTime</div>
                            <div class="input-group">
                                <input value="@ViewBag.EndTime" name="endTime" type="date" class="form-control bg-default border-2 small" aria-label="Search" aria-describedby="basic-addon2">

                            </div>
                        </div>
                        <div style="margin-top:23px">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row"><th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 100px;">Lab Name</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 150px;">Department</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 150px;">CreatedAt</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 150px;">UpdatedAt</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 189px;">Status</th><th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 171px;">Action</th></tr>
                            </thead>
                            <tfoot>
                                <tr><th rowspan="1" colspan="1">Lab Name</th><th rowspan="1" colspan="1">Department</th><th rowspan="1" colspan="1">CreatedAt</th><th rowspan="1" colspan="1">UpdatedAt</th><th rowspan="1" colspan="1">Status</th><th rowspan="1" colspan="1">Action</th></tr>
                            </tfoot>
                            <tbody>
                                @foreach (var lab in Model)
                                {
                                <tr class="odd">
                                    <td class="sorting_1">Lab @lab.Id</td>
                                    <td>@lab.Department.Name</td>
                                    <td>@lab.CreatedAt</td>
                                    <td>@lab.UpdatedAt</td>
                                    <td>
                                        @switch (lab.Status)
                                        {
                                            case 1:
                                                <div>ACTIVE</div>
                                                break;
                                            case -1:
                                                <div>INACTIVE</div>
                                                break;
                                            case 0:
                                                <div>MAINTENANCE</div>
                                                break;
                                        }
                                    </td>

                                    
                                    <td>
                                        <a href="/Labs/Details/@lab.Id"><i class="fa-solid fa-info"></i></a>
                                        @if (User.IsInRole("ADMIN"))
                                        {
                                            <a style="margin:0 10px" href="/Labs/Edit/@lab.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <a href="/Labs/Delete/@lab.Id"><i class="fa-solid fa-trash-can"></i></a>
                                        }
                                    </td>
                                    
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, search = ViewBag.Search, status = ViewBag.Status, departmentId = ViewBag.DepartmentId, startTime = ViewBag.StartTime, endTime = ViewBag.EndTime }))
</div>