@model PagedList.IPagedList<LabSem3.Models.Schedule>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (TempData["False"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["False"]
    </div>
}
<div style="margin-left: 10px; margin-bottom:20px">
    <form action="/Schedule/Index" method="get" class="d-none d-sm-inline-block form-inline navbar-search">
        <div class="">
            <div>
                <div class="row">

                    <div style="margin-right: 20px">
                        <div style="text-align: left">SlotNumber</div>
                        <div class="input-group">
                            <select class="form-control mr-4" name="SlotNumber">
                                <option @(ViewBag.SlotNumber == null ? "selected" : "")>SlotNumber...</option>
                                @foreach (var slot in EnumHelper.GetSelectList(typeof(LabSem3.Enum.SlotNumberEnum)))
                                {
                                    <option @(ViewBag.SlotNumber == Int32.Parse(slot.Value) ? "selected" : " ") value=@Int32.Parse(slot.Value)>@slot.Text</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div style="margin-right: 20px">
                        <div style="text-align: left">Instructor</div>
                        <div>
                            <select id="InstructorId" name="InstructorId" class="form-control">
                                <option value="" @(ViewBag.InstructorId == null ? "selected" : "")>Choose Instructor</option>
                                @foreach (var instructor in ViewBag.Instructor)
                                {
                                    <option value="@instructor.Id" @(instructor.Id == ViewBag.InstructorId ? "selected" : "")>@instructor.UserName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div style="margin-right: 20px">
                        <div style="text-align: left">StartTime</div>
                        <div class="input-group">
                            <input value="@ViewBag.StartTime" name="StartTime" type="date" class="form-control bg-default border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="margin-right: 20px">
                        <div style="text-align: left">EndTime</div>
                        <div class="input-group">
                            <input value="@ViewBag.EndTime" name="EndTime" type="date" class="form-control bg-default border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            DateBoking
        </th>
        <th>
            SlotNumber
        </th>
        <th>
            Status
        </th>
        <th>
            CreatedAt
        </th>
        <th>
            Lab
        </th>
        <th>
            Instructor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateBoking)
            </td>
            <td>
                @foreach (var slot in EnumHelper.GetSelectList(typeof(LabSem3.Enum.SlotNumberEnum)))
                {
                    if (Int32.Parse(slot.Value) == item.SlotNumber)
                    {
                        @slot.Text
                    }
                }

            </td>
            <td>
                @foreach (var status in EnumHelper.GetSelectList(typeof(LabSem3.Enum.ScheduleStatusEnum)))
                {
                    if (Int32.Parse(status.Value) == item.Status)
                    {
                        @status.Text
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>

            <td>
                @foreach (var lab in ViewBag.Labs)
                {
                    if (lab.Id == item.LabId)
                    {
                        <span>Lab @lab.Id</span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instructor.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, SlotNumber = ViewBag.SlotNumber, InstructorId = ViewBag.InstructorId, StartTime = ViewBag.StartTime, EndTime = ViewBag.EndTime }))
