@model LabSem3.Models.Document

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-weight: bold;">Delete Document</h2>

<h3 style="color: red;">Are you sure you want to delete this?</h3>
<div>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Title
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Title
                                    </td>
                                </tr>

                                @*<tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Detail
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Detail
                                    </td>
                                </tr>*@
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Status
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @foreach (var statusItem in EnumHelper.GetSelectList(typeof(LabSem3.Enum.DocumentStatusEnum)))
                                        {
                                            @(Int32.Parse(statusItem.Value) == Model.Status ? statusItem.Text : "" )
                                        }
                                    </td>
                                </tr>
                              
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            TypeEquipment Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.DisplayFor(model => model.TypeEquipment.Name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td class="text-primary">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="color:aliceblue;" type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-default bg-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
