@model LabSem3.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2 style="font-weight: bold;">Details</h2>

<div>
    <h4>Document</h4>
    </br>
    
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Title
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Title
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Detail
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Detail
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Status
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Status
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            CreatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.CreatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            UpdatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.UpdatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            DeletedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.DeletedAt)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            TypeEquipmentName
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.TypeEquipment.Name
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                    </td>
                                    <td class="text-primary">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

</div>
<p style="margin-top:20px">

    @if (User.IsInRole("ADMIN"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span> | </span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
