@model LabSem3.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2 style="font-weight: bold;">Details</h2>

<div>
    <h4>Document</h4>
    </br>
    <div class="container-fluid">
        <div style="text-align:center">
            <div>
                <h3 style="font-weight:bolder">@Model.Title</h3>
            </div>
            <div style="text-align:left">
                <div><h4>Type Equipment: @Model.TypeEquipment.Name</h4></div>
                <p>@Model.Detail</p>
                <div>
                    CreatedAt : @Model.CreatedAt 
                </div>
            </div>
            
        </div>
    </div>

</div>
<p style="margin-top:20px">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
