@model LabSem3.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeEquipmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeEquipmentId)
        </dd>

    </dl>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Title
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Title
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Detail
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Detail
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Status
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Status
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            CreatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.CreatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            UpdatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.UpdatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            DeletedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.DeletedAt)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            TypeEquipment Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Html.DisplayFor(model => model.TypeEquipment.Name)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                    </td>
                                    <td class="text-primary">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
