@model LabSem3.Models.Account

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Account</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                            Id
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Id
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Account
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.UserName
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.FullName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Birthday
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.Birthday)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            Email
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Email
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            PhoneNumber
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.PhoneNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            Address
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Address
                                    </td>
                                </tr>

                                @if (User.IsInRole("HOD"))
                                {
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                Department
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.Department.Name
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Status
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @foreach (var item in EnumHelper.GetSelectList(typeof(LabSem3.Enum.AccountStatusEnum)))
                                        {
                                            if (Model.Status == Int32.Parse(item.Value))
                                            {
                                                @item.Text
                                            }
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                            Created At
                                        </strong>
                                    </td>
                                    <td class="text-primary">

                                        @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                            Updated At
                                        </strong>
                                    </td>
                                    <td class="text-primary">

                                        @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.UpdatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-calendar text-primary"></span>
                                            Deleted At
                                        </strong>
                                    </td>
                                    <td class="text-primary">

                                        @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.DeletedAt)
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style=" background-color: antiquewhite; border-color: skyblue;" type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
