@model LabSem3.Models.Account

@{
    ViewBag.Title = "Delete";
}

<h2 style="font-weight: bold;">Delete Account</h2>

<h3 style="color: red;">Are you sure you want to delete this?</h3>
<div>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Account
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.UserName
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.FullName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Birthday
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.Birthday)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            Email
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Email
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            PhoneNumber
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.PhoneNumber
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            Address
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Address
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="color:aliceblue;" type="submit" value="Delete" onclick="return confirm('Are you sure?')" class="btn btn-default bg-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
