@model LabSem3.Models.Account
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Labs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labs)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Complaints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complaints)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Schedules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedules)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dt>
            @foreach (var role in ViewBag.Roles)
            {
                <span>@role </span>
            }
        </dt>

        @*<dt>
                Test Account by role
            </dt>
            <dt>
                @foreach (var account in ViewBag.AccountByRole)
                {
                    <span>@account </span>
                }
            </dt>*@
    </dl>
</div>
<p>
    @if (User.IsInRole("ADMIN"))
    {
        if (!User.Identity.GetUserId().Equals(Model.Id))
        {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })<span> | </span>
        }
        @Html.ActionLink("Back to List", "Index")
    }
</p>
