@model LabSem3.Models.Account

@{
    ViewBag.Title = "Profile";
}

<h2 style="font-weight: bold;">Profile</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@if (TempData["False"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["False"]
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="container bootstrap snippets bootdey">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="@(Model.Thumbnail != null ? Model.Thumbnail : "https://2.bp.blogspot.com/-muVbmju-gkA/Vir94NirTeI/AAAAAAAAT9c/VoHzHZzQmR4/s1600/placeholder-image.jpg")" data-original-title="Usuario">
                        <ul title="Ratings" class="list-inline ratings text-center">
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            <p>
                                @Html.ActionLink("ChangeProfile", "ChangeProfile") <span> | </span>
                                
                                @Html.ActionLink("ChangePassword", "ChangePassword")
                            </p>

                        </ul>
                    </div>
                    <div class="col-md-6">
                        <strong>Information</strong><br>
                        <div class="table-responsive">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                                Id
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.Id
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-user  text-primary"></span>
                                                Account
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.UserName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                Role
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @foreach (var role in ViewBag.Roles)
                                            {
                                                <span>@role </span>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-cloud text-primary"></span>
                                                Name
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.FullName
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Birthday
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @string.Format("{0:dd/MM/yyyy}", Model.Birthday)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                                Email
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.Email
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                PhoneNumber
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.PhoneNumber
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                Address
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @Model.Address
                                        </td>
                                    </tr>

                                    @if (User.IsInRole("HOD"))
                                    {
                                        <tr>
                                            <td>
                                                <strong>
                                                    <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                                    Department
                                                </strong>
                                            </td>
                                            <td class="text-primary">
                                                @Model.Department.Name
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-envelope text-primary"></span>
                                                Status
                                            </strong>
                                        </td>
                                        <td class="text-primary">
                                            @foreach (var item in EnumHelper.GetSelectList(typeof(LabSem3.Enum.AccountStatusEnum)))
                                            {
                                                if (Model.Status == Int32.Parse(item.Value))
                                                {
                                                    @item.Text
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                Created At
                                            </strong>
                                        </td>
                                        <td class="text-primary">

                                            @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.CreatedAt)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                Updated At
                                            </strong>
                                        </td>
                                        <td class="text-primary">

                                            @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.UpdatedAt)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span class="glyphicon glyphicon-calendar text-primary"></span>
                                                Deleted At
                                            </strong>
                                        </td>
                                        <td class="text-primary">

                                            @string.Format("{0:dd/MM/yyyy hh:mm tt}", Model.DeletedAt)
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</div>
