@model LabSem3.Models.Department
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Details";
}

<h2 style="font-weight: bold;">Details</h2>

<div>
    <h4>Department</h4>
    </br>
    <dl class="dl-horizontal">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-user  text-primary"></span>
                                            Equipment Name
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Name
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-cloud text-primary"></span>
                                            Location
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Location
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                                            Status
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Status
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                                            CreatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.CreatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            UpdatedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.UpdatedAt)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            DeletedAt
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @string.Format("{0:dd/MM/yyyy}", Model.DeletedAt)
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            UserName
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.Hod.UserName
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>
                                            <span class="glyphicon glyphicon-eye-open text-primary"></span>
                                            LabId
                                        </strong>
                                    </td>
                                    <td class="text-primary">
                                        @Model.LabId
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td class="text-primary">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </dl>
</div>
<p>
    @if (User.IsInRole("ADMIN"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) <span> | </span>
        @Html.ActionLink("Back to List", "Index")
    }
</p>
